<nav class="header">
    <div class="container header-content">
      <div class="logo">
        <img src="Logo.png" alt="Lagom Interiors Logo" href="#home">
      </div>
      <ul class="nav">
        <li><a href="#home">Home</a></li>
        <li><a href="#about">About Us</a></li>
        <li><a href="#projects">Our Projects</a></li>
        <li><a href="#contact">Contact Us</a></li>
      </ul>
      <div class="phone">
        <a href="tel:+14086909686">+1 408-690-9686</a>
      </div>
    </div>
  </nav>
  