<header class="header">
  <div class="container header-content">
    <div class="logo">
      <img src="Logo.png" alt="Lagom Interiors Logo">
    </div>
    <nav class="nav">
      <ul>
        <li><a href="#home">Home</a></li>
        <li><a href="#about">About Us</a></li>
        <li><a href="#projects">Our Projects</a></li>
        <li><a href="#contact">Contact Us</a></li>
      </ul>
    </nav>
    <div class="phone">
      <a href="tel:+14086909686">+1 408-690-9686</a>
    </div>
  </div>
</header>
<section class="hero">
  <div class="container hero-content">
    <h1>Lagom Interiors</h1>
    <h2>Where design meets simplicity.</h2>
    <div class="hero-text">
      <p>Our goal is to help you create a space that reflects your unique style, without overwhelming it. We believe in the power of "lagom," the Swedish philosophy of "just the right amount." This means we don't believe in excess or clutter - we design spaces that are perfectly balanced and functional, yet still beautiful and inviting.</p>
      <a href="#contact" class="btn">Contact Us!</a>
    </div>
  </div>
</section>
<app-about></app-about>
<app-project></app-project>
<app-contact></app-contact>
<app-footer></app-footer>
