<app-nav></app-nav>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>3D Plans</title>
</head>
<body>
    <h1>3D Plans</h1>
    <p>Our team of skilled designers uses state-of-the-art software to create 3D plans that showcase the design's aesthetic and functional features.</p>
    <img src="3d-Plans_Page_1.jpg" alt="3D Plans">
    <img src="3d-Plans_Page_2.jpg" alt="3D Plans">
    <img src="3d-Plans_Page_3.jpg" alt="3D Plans">
    <img src="3d-Plans_Page_4.jpg" alt="3D Plans">
    <img src="3d-Plans_Page_5.jpg" alt="3D Plans">
</body>
</html>
